{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.
{deps, [
		    {jiffy, {git, "git://github.com/davisp/jiffy.git", {branch, "feature-add-rebar3-support"}}},
        {lager, "3.2.1"},
        {neo4j, "0.3.0"}
]}.
{relx, [
      {sys_config, "config/sys.config"},
      %{vm_args, "config/vm.args"},
      {release,
			  {vizzerl_dev, "0.0.1"},
        [vizzerl],
        [{dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]
      }
  %       ,{release,
		% 	{vizzerl, "0.1.0"},
  %       	[vizzerl],
  %       	[{dev_mode, false},
  %       	{include_erts, true},
		% 	{include_src, false},
  %       	{extended_start_script, true}]
		% }
]}.